@use "../settings" as s;
@use "../tools" as t;

.footer {
  padding-top: s.$space-xl;
  padding-bottom: s.$space-xl;
  color: s.$color-surface;
  background-color: s.$color-primary-dark;

  &__container {
    display: grid;
    gap: s.$space-sm;
    text-align: center;
  }

  &__title {
    font-size: t.rem(18);
    font-weight: 700;
  }

  &__text {
    color: rgba(255, 255, 255, 0.85);
  }
}
